
<div class="jumbotron">
	<h1>Welcome to Toys, Toys, Toys!</h1>
	<h5>"The only place to fill the void is...Toys, Toys, Toys!"</h5>
	<p>Click the All Toys button to view all current inventory, search for a specific toy,click on a toy to view more about it, or click the add button to add your own toy!</p>
</div>